# WSGI server
Flask==1.1.1
Flask-Cors==3.0.8
flask-smorest==0.21.2
# PlatIAgro SDK
platiagro @ git+https://github.com/platiagro/sdk.git@master
# ORM
SQLAlchemy==1.3.13
# MySQL driver
PyMySQL==0.9.3
# Requests
requests==2.23.0
# Kubeflow Pipelines SDK
kfp==1.1.1
# Kubernetes python client
kubernetes==10.0
